{% extends "base.html" %}
{% load static %}
<link rel="stylesheet" type="text/css" href="/home/mioshek/Programming_Stuff/Programming/Python/SoftwareLibraries/Django/PO_Shop_Project/static/css/shop_view.css">
{% block body_block %}
    {% comment %} <div class="container"> {% endcomment %}

    <div class="parent-flex">
        {% for item in equipment_list %}
            <div class="flex-item">
                <h4><a href="#"> {{item.name}}</a></h4>
                <p>Brand: {{item.brand}}</p>
                <p>Price: {{item.price}} PLN</p>
                <p>Category: {{ item.category }}</p>
                </div>
            </li>
        {% endfor %}
    </div>

        
    {% comment %} </div> {% endcomment %}
{% endblock body_block %}