<!DOCTYPE html>
{% extends "base.html" %}
{% block body_block %}
    <div class="jumbotron">
        <h1>Available Items:</h1>
    </div>

    <div class="jumbotron">

        {% for element in fr %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in sw %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in c %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in nb %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in cb %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in t %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

        {% for element in rb %}
            <li><a href="#">{{element.name}}</a></li>
            <li><a href="#">{{element.price}}</a></li>
        {% endfor %}

    </div>

   

{% endblock body_block %}